/*svg {
  width: 100vw;
  height: 100vh;
}*/

  svg.title {
    height: 10vh !important;
  }

  svg.half {
    width: 50vw;
    height: 30vh;
  }

.container {
  margin: 15px;
}

/*path {
  fill: yellow;
  stroke: black;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}*/

div {
  margin: 10px;
}

.w-400{
  width:400px;
}

.fl{
  float:left;
}

