<form [formGroup]="form">
  <!--Radio-->
  <input type="radio" name="selType" formControlName="selType" [value]="0" title="Normal" /> Normal
  <input type="radio" name="selType" formControlName="selType" [value]="1" title="PlugIn" /> PlugIn
  <!--Search-->
  <div class="letter-space-2 m-5">
    <ng-container *ngIf="listData?.length>0">
      <span>指令選擇</span>
      <input class="m-5" list="options" name="options" formControlName="searchOption" />
      <datalist id="options">
        <ng-container *ngFor="let opt of listData">
          <option [value]="opt">{{opt}}</option>
        </ng-container>
      </datalist>
      <button (click)="resetSearch()">重設</button>
      <!--TextArea-->
      <div>
        <textarea *ngIf="form.get('selType').value===0" class="m-10" style="width:500px;height:500px;" formControlName="textAreaContent" (keyup)="onTextareaKeyup($event)"></textarea>
      </div>
    </ng-container>
  </div>
</form>


<!--Template Container-->
<div [hidden]="true" #someOutlet (cdkObserveContent)="observeTemplateChange()">
  <div *ngTemplateOutlet="displayTemp" #someDiv></div>
</div>
<ng-container [ngSwitch]="form.get('selType').value">
  <!--Normal List-->
  <ng-container *ngSwitchCase="0">
    <!--ngFor-->
    <ng-template appCodeGenTemplate>
      #containerStart #br
      ...
      #containerEnd
    </ng-template>
    <!--ngIf-->
    <ng-template appCodeGenTemplate>
      #containerStart #br
      <button>xxas</button>
      #containerEnd
    </ng-template>
  </ng-container>
  <!--PlugIn List-->
  <ng-container *ngSwitchCase="1">
  </ng-container>
</ng-container>
