<div class="trees">
  <div class="hv-container">
    <!--appNode-->
    <div class="hv-item">
      <div class="hv-item-parent">
        <!--(mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)"-->
        <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'both'">
          <button class="add-top-button dis-none" id="addTopButton"></button>
          <button class="add-button dis-none" id="addBottomButton"></button>
          <div>MATT</div>
        </div>
      </div>
      <div class="hv-item-children">
        <div class="hv-item-child">
          <!--appNode-->
          <div class="hv-item">
            <div class="hv-item-parent">
              <div class="simple-card-not-highlighted">
                <div>MARY</div>
              </div>
            </div>
            <div class="hv-item-children">
              <div class="hv-item-child">
                <div class="hv-item">
                  <div class="hv-item-parent">
                    <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">            
                      <button class="add-button dis-none" id="addButton"></button>
                      <div>MIKE</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hv-item-child">
                <div class="hv-item">
                  <div class="hv-item-parent">
                    <div class="simple-card-not-highlighted">
                      <div>MILE</div>
                    </div>
                  </div>
                  <div class="hv-item-children">
                    <div class="hv-item-child">
                      <div class="hv-item">
                        <div class="simple-card-not-highlighted">
                          <div>Mil</div>
                        </div>
                      </div>
                    </div>
                    <div class="hv-item-child">
                      <div class="hv-item">
                        <div class="simple-card-not-highlighted">
                          <div>Mil 2</div>
                        </div>
                      </div>
                    </div>
                    <div class="hv-item-child">
                      <div class="hv-item">
                        <div class="simple-card-not-highlighted">
                          <div>Mil 3</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hv-item-child">
          <div class="hv-item">
            <div class="simple-card-not-highlighted">
              <div>Spear</div>
            </div>
          </div>
        </div>
        <div class="hv-item-child">
          <div class="hv-item">
            <div class="hv-item-parent">
              <div class="simple-card-not-highlighted">
                <div>Wpear</div>
              </div>
            </div>
            <div class="hv-item-children">
              <div class="hv-item-child">
                <div class="hv-item">
                  <div class="hv-item-parent">
                    <div class="simple-card-not-highlighted">
                      <div>Wish</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hv-item-child">
                <div class="hv-item">
                  <div class="hv-item-parent">
                    <div class="simple-card-not-highlighted">
                      <div>Wand</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
