<div class="trees">
  <div class="hv-container">
    <div class="hv-item">
      <div class="hv-item-parent">
        <div class="simple-card-not-highlighted">
          <div>MATT</div>
        </div>
      </div>
      <div class="hv-item-children">
        <div class="hv-item-children">
          <div class="hv-item">
            <div class="hv-item-parent">
              <div class="simple-card-not-highlighted">
                <div>MARY</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
