<!--reference https://stackblitz.com/edit/dynamic-flow-chart?file=src%2Fapp%2Fnode%2Fnode.component.html-->
<!--<div class="trees">
  <div class="hv-container">
    <div class="hv-item">
      <div class="hv-item-parent">
        <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'both'">
          <button class="add-top-button dis-none" id="addTopButton"></button>
          <button class="add-button dis-none" id="addBottomButton"></button>
          <div>MATT</div>
        </div>
      </div>
      <div class="hv-item-children">
        <div class="hv-item-child">
          <div class="hv-item">
            <div class="hv-item-parent">
              <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                <button class="add-button dis-none" id="addButton"></button>
                <div>MARY</div>
              </div>
            </div>
            <div class="hv-item-children">
              <div class="hv-item-child">
                <div class="hv-item">
                  <div class="hv-item-parent">
                    <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                      <button class="add-button dis-none" id="addButton"></button>
                      <div>MIKE</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hv-item-child">
                <div class="hv-item">
                  <div class="hv-item-parent">
                    <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                      <button class="add-button dis-none" id="addButton"></button>
                      <div>MILE</div>
                    </div>
                  </div>
                  <div class="hv-item-children">
                    <div class="hv-item-child">
                      <div class="hv-item">
                        <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                          <button class="add-button dis-none" id="addButton"></button>
                          <div>Mil</div>
                        </div>
                      </div>
                    </div>
                    <div class="hv-item-child">
                      <div class="hv-item">
                        <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                          <button class="add-button dis-none" id="addButton"></button>
                          <div>Mil 2</div>
                        </div>
                      </div>
                    </div>
                    <div class="hv-item-child">
                      <div class="hv-item">
                        <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                          <button class="add-button dis-none" id="addButton"></button>
                          <div>Mil 3</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hv-item-child">
          <div class="hv-item">
            <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
              <button class="add-button dis-none" id="addButton"></button>
              <div>Spear</div>
            </div>
          </div>
        </div>
        <div class="hv-item-child">
          <div class="hv-item">
            <div class="hv-item-parent">
              <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                <button class="add-button dis-none" id="addButton"></button>
                <div>Wpear</div>
              </div>
            </div>
            <div class="hv-item-children">
              <div class="hv-item-child">
                <div class="hv-item">
                  <div class="hv-item-parent">
                    <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                      <button class="add-button dis-none" id="addButton"></button>
                      <div>Wish</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hv-item-child">
                <div class="hv-item">
                  <div class="hv-item-parent">
                    <div class="simple-card-not-highlighted" appDynamicFlowShowButton [mode]="'bottom'">
                      <button class="add-button dis-none" id="addButton"></button>
                      <div>Wand</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />-->
<div class="text-center">
  Change Mode: <select (change)="onModeChange($event.target.value)">
    <option value="1">標準版</option>
    <option value="2">瀏覽數據</option>
  </select>
</div>

<div class="trees">
  <div class="hv-container">
    <ng-container [ngSwitch]="mode">
      <ng-container *ngSwitchCase="1">
        <app-flow-node *ngFor="let node of data.children;let index =index" [node]="node" [node_index]="index"></app-flow-node>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <app-flow-node2 *ngFor="let node of data.children;let index =index" [node]="node" [node_index]="index"></app-flow-node2>
      </ng-container>
    </ng-container>
  </div>
</div>
