<div>
  <h2>d3繪製基礎SVG</h2>
  <svg></svg>
</div>
<div>
  <h2>d3 datum資料綁定元素</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div>
  <h2>d3 data資料綁定元素</h2>
  <ul id="ul2">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div>
  <h2>d3 data Join Enter範例</h2>
  <ul id="ulEnter">

  </ul>
</div>
<div>
  <h2>d3 Enter、Update 資料模型範例(使用console觀察)</h2>
  <div id="labelContainer">
    <label></label>
    <label></label>
    <label></label>
  </div>
</div>
<div>
  <h2>d3 Update、Exit 資料模型範例(使用console觀察)</h2>
  <div id="labelContainer2">
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
    <label></label>
  </div>
</div>
