<p>
  AsyncPipe Operator相關設定
</p>
<div>
  <label>
    Search:
    <!-- [(ngModel)]="searchvalue" -->
    <input #searchInput type="text" (keyup)="search(searchInput.value)" />
  </label>
  <input type="button" (click)="GetUsers()" value="取得使用者群" />
  <ng-container *ngIf="todos$ |async as todos">
    <ul>
      <li *ngFor="let u of todos">
        <span>Title:{{u.title}}-ID:{{u.id}}</span>
      </li>
    </ul>
    <!--<p>
      {{data$ |async|json}}
    </p>-->
  </ng-container>
  <!--<p>
    {{todos$ |async|json}}
    {{todos$ |async|json}}
  </p>-->
</div>
