<nav>
  <a routerLink="/Pratice/ngContent" routerLinkActive="active">ngContent</a>
  <a routerLink="/Pratice/ngPlural" routerLinkActive="active">ngPlural</a>
  <a routerLink="/Pratice/ngSelectOption" routerLinkActive="active">ngSelectOption</a>
  <a routerLink="/Pratice/callWebApi" routerLinkActive="active">callWebApi</a>
  <a routerLink="/Pratice/ngForTrackBy" routerLinkActive="active">ngForTrackBy</a>
  <!--<a routerLink="/Charts/dynamicFlowCharts" routerLinkActive="active">dynamicFlowCharts</a>-->
</nav>
<router-outlet></router-outlet>
