<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<nav>
  <!--透過@Input()進行highlightColor值傳遞-->
  <a routerLink="/heroes" routerLinkActive="active" appHighlight [highlightColor]="'pink'">heroes</a> <!--Directive Pink-->
  <a routerLink="/HttpClientTest" routerLinkActive="active" appHighlight [highlightColor]="'gold'">HttpClientTest</a> <!--Directive gold-->
  <a routerLink="/ValidDemo" [queryParams]="{myDebug:false}" queryParamsHandling="merge" routerLinkActive="active" appHighlight [highlightColor]="'red'">ValidDemo</a> <!--Directive red-->
  <a routerLink="/ValidReactiveDemo" routerLinkActive="active" appHighlight [highlightColor]="'green'">ValidReactiveDemo</a> <!--Directive green-->
  <a routerLink="/VoteTaker" routerLinkActive="active" appHighlight [highlightColor]="'blue'">VoteTaker</a> <!--Directive blue-->
  <a routerLink="/dashboard" queryParamsHandling="merge" preserveFragment routerLinkActive="active" appHighlight highlightColor="yellow">DashBoard</a> <!--Directive yellow-->
  <a routerLink="/heros" [queryParams]="{debug:true}" fragment="myHeroPoint" routerLinkActive="active" appHighlight [highlightColor]="'orange'">Heros</a> <!--Directive orange-->
  <!--queryParams=QueryString , fragment=錨點-->
  <a routerLink="/dashboard" routerLinkActive="active" [queryParams]="{debug:true}" fragment="myTagPoint">QueryAnd#</a>
  <!--<a routerLink="/dashboard/subdashboard" routerLinkActive="active" appHighlight [highlightColor]="'purple'">MergeDashboard</a>--> <!--Directive purple-->
  <a routerLink="/MyCustomControl" routerLinkActive="active">CustomNgModel</a>
  <a routerLink="/DynamicLoading" routerLinkActive="active">DynamicComponent</a>
  <a routerLink="/ChangeDectorRef" routerLinkActive="active">ChangeDectorRef</a>
  <a routerLink="/ChangeDetectionStrategy" routerLinkActive="active">ChangeDetectionStrategy</a>
  <a routerLink="/AsyncPipe" routerLinkActive="active">AsyncPipe</a>
  <a routerLink="/Rxjs" routerLinkActive="active">Rxjs</a>
  <a routerLink="/Animation" routerLinkActive="active">Animation</a>
  <a routerLink="/PlugIn" routerLinkActive="active">PlugIn</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">compose</a>
  <a routerLink="/LittleMouseSearch" routerLinkActive="active">@Little Mouse Search</a>
  <a routerLink="/UrlMetadataParser">UrlMetadataParser</a>
  <a routerLink="/AcceptOtherPost">AcceptOtherPost</a>
  <a routerLink="/FireBaseTest">FireBase</a>
  <a routerLink="/WebWorkOrb">WebWorkOrb</a>
</nav>
<hr />
<!--<app-hero-search></app-hero-search>-->
<!--<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>-->
<hr />
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>
<!--<app-heros></app-heros> 我的新component,設定Route後移除Tag-->
<!--<app-messages></app-messages>--> <!--Messages Component-->
<!--<app-vote-taker></app-vote-taker>-->
