div.SearchBox {
  border: 1px solid black;
  margin: 15px;
  min-width: 600px;
  min-height: 300px;
}

div.SearchContent {
  content: '';
  /*display:inline-block;*/
  min-height: 50px;
}
.div-inlineblock {
  display: inline-block;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}

  ul {
    position: absolute;
    border:0px;
    margin:0px;
    padding:0px;
    /*top: 100px;*/
  }

  ul li {
    list-style-type: none;
    background-color: silver;
    width: 100px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
  }

    ul li.active {
      background-color: hotpink !important;
    }

    ul li:hover {
      background-color: greenyellow;
      /*color:greenyellow;*/
    }
/*ul:hover li:first-child:not(:hover) {
    background: silver;
  }
  ul li:nth-of-type(1) {
    background: greenyellow;
  }*/

.show {
  display: block;
}

.hide {
  /*display:none;*/
  visibility: hidden;
}

.red {
  display:inline-block;
  color: red;
}
.black{
  display:inline-block;
  color:black;
}
