div.SearchBox {
  border: 1px solid black;
  margin: 15px;
  min-width: 600px;
  min-height: 300px;
}

div.SearchContent {
  content: '';
  min-height: 50px;
}

.div-inlineblock {
  display: inline-block;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

ul {
  position: absolute;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

  ul li {
    list-style-type: none;
    background-color: silver;
    width: 100px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
  }

    ul li.active {
      background-color: hotpink !important;
    }

    ul li:hover {
      background-color: greenyellow;
    }

.show {
  display: block;
}

.hide {
  visibility: hidden;
}

.red {
  display: inline-block;
  color: red;
}

.black {
  display: inline-block;
  color: black;
}

/*Metadata*/
.metadataArea {
  margin-left:15px;
  border: 1px solid silver;
  background-color: aliceblue;
  width: 500px;
  height: 120px;
}

.inline-block {
  display: inline-block;
  float: left;
}

.color-silver {
  color: silver;
}

.contentText {
  width: 380px;
  height:95px;
}

  .contentText > div {
    padding: 3px;
  }
.div-title{
  color:black;
  font-weight:500;
}
.div-description{
  height:40px;
  overflow:hidden;
}
